langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
langgraph-cli[inmem]
dotenv
pydantic
langchain_huggingface
sentence-transformers
tiktoken
redis
langgraph-api
sqlalchemy
psycopg2-binary
sqlparse
